<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<CONFIGURACION>
<SERVIDOR>
<MULTICAST>230.0.0.1</MULTICAST>
<SERV>127.0.0.1</SERV>
<ESC>10000</ESC>
</SERVIDOR>
<ASIO>
<CANAL id="0">10001</CANAL>
<CANAL id="1">10002</CANAL>
<CANAL id="2">10003</CANAL>
<CANAL id="3">10004</CANAL>
<CANAL id="4">10005</CANAL>
<CANAL id="5">10006</CANAL>
<CANAL id="6">10007</CANAL>
<CANAL id="7">10008</CANAL>
<CANAL id="8">10009</CANAL>
<CANAL id="9">10010</CANAL>
<CANAL id="10">10011</CANAL>
<CANAL id="11">10012</CANAL>
<CANAL id="12">10013</CANAL>
<CANAL id="13">10001</CANAL>
<CANAL id="14">10001</CANAL>
<CANAL id="15">10001</CANAL>
<CANAL id="16">10001</CANAL>
<CANAL id="17">10001</CANAL>
<CANAL id="18">10001</CANAL>
<CANAL id="19">10001</CANAL>
<CANAL id="20">10001</CANAL>
<CANAL id="21">10001</CANAL>
<CANAL id="22">10001</CANAL>
<CANAL id="23">10001</CANAL>
<CANAL id="24">10001</CANAL>
<CANAL id="25">10001</CANAL>
<CANAL id="26">10001</CANAL>
<CANAL id="27">10001</CANAL>
<CANAL id="28">10001</CANAL>
<CANAL id="29">10001</CANAL>
<CANAL id="30">10001</CANAL>
<CANAL id="31">10001</CANAL>
<CANAL id="32">10001</CANAL>
<CANAL id="33">10001</CANAL>
<CANAL id="34">10001</CANAL>
<CANAL id="35">10001</CANAL>
<CANAL id="36">10001</CANAL>
<CANAL id="37">10001</CANAL>
<CANAL id="38">10001</CANAL>
<CANAL id="39">10001</CANAL>
<CANAL id="40">10001</CANAL>
<CANAL id="41">10001</CANAL>
<CANAL id="42">10001</CANAL>
<CANAL id="43">10001</CANAL>
<CANAL id="44">10001</CANAL>
<CANAL id="45">10001</CANAL>
<CANAL id="46">10001</CANAL>
<CANAL id="47">10001</CANAL>
<CANAL id="48">10001</CANAL>
<CANAL id="49">10001</CANAL>
<CANAL id="50">10001</CANAL>
<CANAL id="51">10001</CANAL>
<CANAL id="52">10001</CANAL>
<CANAL id="53">10001</CANAL>
<CANAL id="54">10001</CANAL>
<CANAL id="55">10001</CANAL>
<CANAL id="56">10001</CANAL>
<CANAL id="57">10001</CANAL>
<CANAL id="58">10001</CANAL>
<CANAL id="59">10001</CANAL>
<CANAL id="60">10001</CANAL>
<CANAL id="61">10001</CANAL>
<CANAL id="62">10001</CANAL>
<CANAL id="63">10001</CANAL>
</ASIO>
</CONFIGURACION>
